openapi: 3.2.0
info:
  title: Grubhub Endpoints API
  version: '1.0'
  description: 'Operations tagged Endpoints across 8 of this provider''s published API definitions: grubhub-busy-intervals-openapi.yml, grubhub-deliveries-openapi.yml, grubhub-menu-openapi.yml, grubhub-merchant-data-openapi.yml, grubhub-merchant-schedules-openapi.yml, grubhub-onboarding-openapi.yml, grubhub-orders-openapi.yml, grubhub-testing-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-third-party-gtm-pp.grubhub.com
  description: preprod
- url: https://api-third-party-gtm.grubhub.com
  description: prod
tags:
- name: Endpoints
paths:
  /pos/v1/merchant/{merchant_id}/busy/{busy_interval_id}:
    put:
      tags:
      - Endpoints
      summary: Update an active busy interval
      description: Updates the ETA increase or end time on an existing busy interval for the restaurant.
      operationId: updateBusyMode
      parameters:
      - name: merchant_id
        in: path
        description: The short Grubhub ID for the merchant. Corresponds to a single location.
        required: true
        explode: false
        schema:
          type: string
      - name: busy_interval_id
        in: path
        description: The unique identifier of the busy interval to update.
        required: true
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: Updated busy interval parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosBusyModeRequest'
            example:
              eta_increase_seconds: 600
              start_time: '2026-05-25T18:00:00Z'
              end_time: '2026-05-25T19:00:00Z'
        required: true
      responses:
        '422':
          description: The request body is missing required fields or is otherwise invalid.
        '200':
          description: Busy interval successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosBusyModeResponse'
              example:
                restaurant_id: store182
                busy_interval_id: b4a16ee1-0a4f-4f3b-8b86-9f7c9b9a2d6a
                eta_increase_seconds: 600
                start_time: '2026-05-25T18:00:00Z'
                end_time: '2026-05-25T19:00:00Z'
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/merchant/{merchant_id}/busy:
    get:
      tags:
      - Endpoints
      summary: Get the current busy interval
      description: Returns whether the restaurant is currently busy and details about the active busy interval.
      operationId: getBusyMode
      parameters:
      - name: merchant_id
        in: path
        description: The short Grubhub ID for the merchant. Corresponds to a single location.
        required: true
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Current busy interval, if any.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosGetBusyModeResponse'
              example:
                busy: true
                busy_interval:
                  busy_interval_id: b4a16ee1-0a4f-4f3b-8b86-9f7c9b9a2d6a
                  start_time: '2026-05-25T18:00:00Z'
                  end_time: '2026-05-25T19:00:00Z'
                  eta_increase_seconds: 600
                  remaining_seconds: 1200
    post:
      tags:
      - Endpoints
      summary: Mark restaurant as busy
      description: Marks the restaurant as busy for the time window specified in the request, increasing the displayed ETA for diners.
      operationId: setBusyMode
      parameters:
      - name: merchant_id
        in: path
        description: The short Grubhub ID for the merchant. Corresponds to a single location.
        required: true
        explode: false
        schema:
          type: string
      requestBody:
        description: Busy interval parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosBusyModeRequest'
            example:
              eta_increase_seconds: 600
              start_time: '2026-05-25T18:00:00Z'
              end_time: '2026-05-25T19:00:00Z'
        required: true
      responses:
        '422':
          description: The request body is missing required fields or is otherwise invalid.
        '200':
          description: Busy interval successfully set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosBusyModeResponse'
              example:
                restaurant_id: store182
                busy_interval_id: b4a16ee1-0a4f-4f3b-8b86-9f7c9b9a2d6a
                eta_increase_seconds: 600
                start_time: '2026-05-25T18:00:00Z'
                end_time: '2026-05-25T19:00:00Z'
    delete:
      tags:
      - Endpoints
      summary: Clear the active busy interval
      description: Ends the currently active busy interval for the restaurant, if any.
      operationId: deleteActiveBusyMode
      parameters:
      - name: merchant_id
        in: path
        description: The short Grubhub ID for the merchant. Corresponds to a single location.
        required: true
        explode: false
        schema:
          type: string
      responses:
        '204':
          description: Busy interval cleared, or there was no active interval to clear.
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/merchant/{merchant_long_id}/orders/{order_uuid}/delivery:
    get:
      tags:
      - Endpoints
      summary: Get delivery by order ID
      description: Retrieve the current state of a Delivery for an Order.
      operationId: getExternalDeliveryByOrderUuid
      parameters:
      - name: merchant_long_id
        in: path
        description: The Grubhub long ID for the merchant. Corresponds to a single location.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: order_uuid
        in: path
        description: The unique ID for the Order whose Delivery information is being requested.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        '403':
          description: ' You do not have access to the requested resource'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosDelivery'
              example:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                account_id: 3d07c219-0a88-45be-9cfc-91e9d095a1e9
                confirmation_code: HVUYBJH
                region_id: a29f01e1-8a8d-451e-b685-f8b0b4ec4767
                name: Grubhub order 76884765873
                pickup:
                  id: UvYO6VyVEeiVadmHZVMREg
                  name: Good Food, Inc.
                  address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '11111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  location_address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '1111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  phone: '4045551212'
                  notes: string
                  geo:
                    lat: 37.65947723
                    lng: -81.43487549
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                dropoff:
                  id: AvYO6VyVEeiVadmHZVMROm
                  name: Steve McSteverson
                  address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  location_address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  phone: '4045552121'
                  notes: test notes
                  geo:
                    lat: 37.659479
                    lng: -81.434876
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                flags:
                - LARGE_ORDER
                contents:
                - diner_id: ef1a26c6-b927-49dd-9b66-8fe8d8646837
                  description: Cheese Burger
                  size: M
                  tags:
                  - ITEM
                  quantity: 3
                  options:
                  - description: SUB ITEM
                    tags: []
                    quantity: 1
                    options:
                    - {}
                  category_name: Burgers
                status: Delivered
                courier:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  name: Jack Burton
                  vehicle:
                    type: car
                    description: ''
                  phone: '4045552323'
                  photo_url: https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png
                  geo:
                    lat: 37.67577137428678
                    lng: -81.40696178943328
                created: '2019-08-24T14:15:22Z'
                pickup_ready: '2019-08-24T14:15:22Z'
                times:
                  pickup_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                committed_times:
                  pickup_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                test: false
                preferences:
                  pickup_time: '2019-08-24T14:15:22Z'
                  delivery_time: '2019-08-24T14:15:22Z'
                metadata: {}
        '422':
          description: ' One or more of the fields passed could not be used'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosDelivery'
              example:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                account_id: 3d07c219-0a88-45be-9cfc-91e9d095a1e9
                confirmation_code: HVUYBJH
                region_id: a29f01e1-8a8d-451e-b685-f8b0b4ec4767
                name: Grubhub order 76884765873
                pickup:
                  id: UvYO6VyVEeiVadmHZVMREg
                  name: Good Food, Inc.
                  address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '11111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  location_address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '1111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  phone: '4045551212'
                  notes: string
                  geo:
                    lat: 37.65947723
                    lng: -81.43487549
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                dropoff:
                  id: AvYO6VyVEeiVadmHZVMROm
                  name: Steve McSteverson
                  address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  location_address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  phone: '4045552121'
                  notes: test notes
                  geo:
                    lat: 37.659479
                    lng: -81.434876
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                flags:
                - LARGE_ORDER
                contents:
                - diner_id: ef1a26c6-b927-49dd-9b66-8fe8d8646837
                  description: Cheese Burger
                  size: M
                  tags:
                  - ITEM
                  quantity: 3
                  options:
                  - description: SUB ITEM
                    tags: []
                    quantity: 1
                    options:
                    - {}
                  category_name: Burgers
                status: Delivered
                courier:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  name: Jack Burton
                  vehicle:
                    type: car
                    description: ''
                  phone: '4045552323'
                  photo_url: https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png
                  geo:
                    lat: 37.67577137428678
                    lng: -81.40696178943328
                created: '2019-08-24T14:15:22Z'
                pickup_ready: '2019-08-24T14:15:22Z'
                times:
                  pickup_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                committed_times:
                  pickup_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                test: false
                preferences:
                  pickup_time: '2019-08-24T14:15:22Z'
                  delivery_time: '2019-08-24T14:15:22Z'
                metadata: {}
        '429':
          description: ' You have sent too many API calls in a short period of time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosDelivery'
              example:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                account_id: 3d07c219-0a88-45be-9cfc-91e9d095a1e9
                confirmation_code: HVUYBJH
                region_id: a29f01e1-8a8d-451e-b685-f8b0b4ec4767
                name: Grubhub order 76884765873
                pickup:
                  id: UvYO6VyVEeiVadmHZVMREg
                  name: Good Food, Inc.
                  address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '11111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  location_address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '1111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  phone: '4045551212'
                  notes: string
                  geo:
                    lat: 37.65947723
                    lng: -81.43487549
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                dropoff:
                  id: AvYO6VyVEeiVadmHZVMROm
                  name: Steve McSteverson
                  address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  location_address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  phone: '4045552121'
                  notes: test notes
                  geo:
                    lat: 37.659479
                    lng: -81.434876
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                flags:
                - LARGE_ORDER
                contents:
                - diner_id: ef1a26c6-b927-49dd-9b66-8fe8d8646837
                  description: Cheese Burger
                  size: M
                  tags:
                  - ITEM
                  quantity: 3
                  options:
                  - description: SUB ITEM
                    tags: []
                    quantity: 1
                    options:
                    - {}
                  category_name: Burgers
                status: Delivered
                courier:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  name: Jack Burton
                  vehicle:
                    type: car
                    description: ''
                  phone: '4045552323'
                  photo_url: https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png
                  geo:
                    lat: 37.67577137428678
                    lng: -81.40696178943328
                created: '2019-08-24T14:15:22Z'
                pickup_ready: '2019-08-24T14:15:22Z'
                times:
                  pickup_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                committed_times:
                  pickup_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                test: false
                preferences:
                  pickup_time: '2019-08-24T14:15:22Z'
                  delivery_time: '2019-08-24T14:15:22Z'
                metadata: {}
        '200':
          description: ' OK - Successfully found delivery details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosDelivery'
              example:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                account_id: 3d07c219-0a88-45be-9cfc-91e9d095a1e9
                confirmation_code: HVUYBJH
                region_id: a29f01e1-8a8d-451e-b685-f8b0b4ec4767
                name: Grubhub order 76884765873
                pickup:
                  id: UvYO6VyVEeiVadmHZVMREg
                  name: Good Food, Inc.
                  address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '11111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  location_address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '1111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  phone: '4045551212'
                  notes: string
                  geo:
                    lat: 37.65947723
                    lng: -81.43487549
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                dropoff:
                  id: AvYO6VyVEeiVadmHZVMROm
                  name: Steve McSteverson
                  address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  location_address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  phone: '4045552121'
                  notes: test notes
                  geo:
                    lat: 37.659479
                    lng: -81.434876
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                flags:
                - LARGE_ORDER
                contents:
                - diner_id: ef1a26c6-b927-49dd-9b66-8fe8d8646837
                  description: Cheese Burger
                  size: M
                  tags:
                  - ITEM
                  quantity: 3
                  options:
                  - description: SUB ITEM
                    tags: []
                    quantity: 1
                    options:
                    - {}
                  category_name: Burgers
                status: Delivered
                courier:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  name: Jack Burton
                  vehicle:
                    type: car
                    description: ''
                  phone: '4045552323'
                  photo_url: https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png
                  geo:
                    lat: 37.67577137428678
                    lng: -81.40696178943328
                created: '2019-08-24T14:15:22Z'
                pickup_ready: '2019-08-24T14:15:22Z'
                times:
                  pickup_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                committed_times:
                  pickup_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                test: false
                preferences:
                  pickup_time: '2019-08-24T14:15:22Z'
                  delivery_time: '2019-08-24T14:15:22Z'
                metadata: {}
        '500':
          description: ' The server has returned an unexpected error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosDelivery'
              example:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                account_id: 3d07c219-0a88-45be-9cfc-91e9d095a1e9
                confirmation_code: HVUYBJH
                region_id: a29f01e1-8a8d-451e-b685-f8b0b4ec4767
                name: Grubhub order 76884765873
                pickup:
                  id: UvYO6VyVEeiVadmHZVMREg
                  name: Good Food, Inc.
                  address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '11111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  location_address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '1111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  phone: '4045551212'
                  notes: string
                  geo:
                    lat: 37.65947723
                    lng: -81.43487549
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                dropoff:
                  id: AvYO6VyVEeiVadmHZVMROm
                  name: Steve McSteverson
                  address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  location_address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  phone: '4045552121'
                  notes: test notes
                  geo:
                    lat: 37.659479
                    lng: -81.434876
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                flags:
                - LARGE_ORDER
                contents:
                - diner_id: ef1a26c6-b927-49dd-9b66-8fe8d8646837
                  description: Cheese Burger
                  size: M
                  tags:
                  - ITEM
                  quantity: 3
                  options:
                  - description: SUB ITEM
                    tags: []
                    quantity: 1
                    options:
                    - {}
                  category_name: Burgers
                status: Delivered
                courier:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  name: Jack Burton
                  vehicle:
                    type: car
                    description: ''
                  phone: '4045552323'
                  photo_url: https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png
                  geo:
                    lat: 37.67577137428678
                    lng: -81.40696178943328
                created: '2019-08-24T14:15:22Z'
                pickup_ready: '2019-08-24T14:15:22Z'
                times:
                  pickup_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                committed_times:
                  pickup_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                test: false
                preferences:
                  pickup_time: '2019-08-24T14:15:22Z'
                  delivery_time: '2019-08-24T14:15:22Z'
                metadata: {}
        '404':
          description: ' Delivery details were not found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosDelivery'
              example:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                account_id: 3d07c219-0a88-45be-9cfc-91e9d095a1e9
                confirmation_code: HVUYBJH
                region_id: a29f01e1-8a8d-451e-b685-f8b0b4ec4767
                name: Grubhub order 76884765873
                pickup:
                  id: UvYO6VyVEeiVadmHZVMREg
                  name: Good Food, Inc.
                  address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '11111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  location_address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '1111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  phone: '4045551212'
                  notes: string
                  geo:
                    lat: 37.65947723
                    lng: -81.43487549
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                dropoff:
                  id: AvYO6VyVEeiVadmHZVMROm
                  name: Steve McSteverson
                  address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  location_address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  phone: '4045552121'
                  notes: test notes
                  geo:
                    lat: 37.659479
                    lng: -81.434876
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                flags:
                - LARGE_ORDER
                contents:
                - diner_id: ef1a26c6-b927-49dd-9b66-8fe8d8646837
                  description: Cheese Burger
                  size: M
                  tags:
                  - ITEM
                  quantity: 3
                  options:
                  - description: SUB ITEM
                    tags: []
                    quantity: 1
                    options:
                    - {}
                  category_name: Burgers
                status: Delivered
                courier:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  name: Jack Burton
                  vehicle:
                    type: car
                    description: ''
                  phone: '4045552323'
                  photo_url: https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png
                  geo:
                    lat: 37.67577137428678
                    lng: -81.40696178943328
                created: '2019-08-24T14:15:22Z'
                pickup_ready: '2019-08-24T14:15:22Z'
                times:
                  pickup_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                committed_times:
                  pickup_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                test: false
                preferences:
                  pickup_time: '2019-08-24T14:15:22Z'
                  delivery_time: '2019-08-24T14:15:22Z'
                metadata: {}
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/deliveries/{delivery_id}:
    get:
      tags:
      - Endpoints
      summary: Get delivery by delivery ID
      description: Retrieve the current state of a Delivery.
      operationId: getExternalDeliveryByDeliveryId
      parameters:
      - name: delivery_id
        in: path
        description: The ID of the delivery to retrieve.
        required: true
        style: simple
        explode: false
        schema:
          type: string
        example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
      responses:
        '200':
          description: ' OK - Successfully found delivery details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosDelivery'
              example:
                id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                account_id: 3d07c219-0a88-45be-9cfc-91e9d095a1e9
                confirmation_code: HVUYBJH
                region_id: a29f01e1-8a8d-451e-b685-f8b0b4ec4767
                name: Grubhub order 76884765873
                pickup:
                  id: UvYO6VyVEeiVadmHZVMREg
                  name: Good Food, Inc.
                  address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '11111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  location_address:
                    region_code: US
                    address_lines:
                    - 234 Star Avenue
                    cross_streets: test cross street 1
                    locality: New York City
                    sublocality: New York City
                    neighborhood: test
                    administrative_area: NY
                    postal_code: '1111'
                    sorting_code: '999'
                    coordinates:
                      latitude: 37.65947723
                      longitude: -81.43487549
                    organization_name: Good Food, Inc.
                  phone: '4045551212'
                  notes: string
                  geo:
                    lat: 37.65947723
                    lng: -81.43487549
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                dropoff:
                  id: AvYO6VyVEeiVadmHZVMROm
                  name: Steve McSteverson
                  address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  location_address:
                    region_code: '456'
                    address_lines:
                    - 2940 Secondary Ln
                    cross_streets: test cross street 2
                    locality: Anytown
                    sublocality: Anytown
                    neighborhood: test1
                    administrative_area: NY
                    postal_code: '11112'
                    sorting_code: '123'
                    coordinates:
                      latitude: 37.659479
                      longitude: -81.434876
                    organization_name: Home
                  phone: '4045552121'
                  notes: test notes
                  geo:
                    lat: 37.659479
                    lng: -81.434876
                  geofence_radius_in_meters: 0
                  merchant_phone_suppressed: true
                flags:
                - LARGE_ORDER
                contents:
                - diner_id: ef1a26c6-b927-49dd-9b66-8fe8d8646837
                  description: Cheese Burger
                  size: M
                  tags:
                  - ITEM
                  quantity: 3
                  options:
                  - description: SUB ITEM
                    tags: []
                    quantity: 1
                    options:
                    - {}
                  category_name: Burgers
                status: Delivered
                courier:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  name: Jack Burton
                  vehicle:
                    type: car
                    description: ''
                  phone: '4045552323'
                  photo_url: https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png
                  geo:
                    lat: 37.67577137428678
                    lng: -81.40696178943328
                created: '2019-08-24T14:15:22Z'
                pickup_ready: '2019-08-24T14:15:22Z'
                times:
                  pickup_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: actual
                    timestamp: '2019-08-24T14:15:22Z'
                committed_times:
                  pickup_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  pickup:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff_arrival:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                  dropoff:
                    type: estimate
                    timestamp: '2019-08-24T14:15:22Z'
                test: false
                preferences:
                  pickup_time: '2019-08-24T14:15:22Z'
                  delivery_time: '2019-08-24T14:15:22Z'
                metadata: {}
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/menu/ingestion/validate:
    post:
      tags:
      - Endpoints
      summary: Validate a normalized menu
      description: Verifies that the menu provided as the request body is a valid and complete PosNormalizedMenu data object. You do not need to validate a menu object before you run the ingestion process, but validation can save you the hassle of having a menu ingestion process fail unexpectedly.
      operationId: validatePosMenu
      parameters:
      - name: is_normalized_menu
        in: query
        description: Is the menu in a normalized format.
        required: true
        explode: true
        schema:
          type: boolean
          default: false
      - name: merchant_id
        in: query
        description: The Grubhub or third-party provided external ID for the merchant. Corresponds to a single location.
        required: false
        explode: true
        schema:
          type: string
      responses:
        '503':
          description: The menu validation has timed out.
        '200':
          description: Successfully or unsuccessfully performed a validation check.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosNormalizedMenuValidationResult'
              example:
                valid: true
                validation_errors: []
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/menu/ingestion:
    post:
      tags:
      - Endpoints
      summary: Add or update a normalized menu
      description: 'Uploads a complete menu to Grubhub, including schedules, sections, items, and modifiers. Because of the size of the data used in this operation, the processing portion of this job completes after this endpoint responds. To find out the status of a normalized menu ingestion, call GET /pos/v1/menu/ingestion/jobs/{job_id}. Use the job_id returned from this endpoint.


        By default, this endpoint expects the menu to conform to the normalized menu structure. To indicate this reference structure, the required field normalized_menu=true must be in the request body.


        All objects within this menu payload must have external_id values attached to them for this upload to complete. External IDs that match existing objects will be merged with that object''s data. If a field exists in both the existing and ingested data, the ingested data will replace it. If the data only exists in the new data, then that object will be created. If the data exists in the old menu but not the new one, then that object will be deleted.


        External IDs must be unique across all menu entities of the same type, except for menu schedules and sections, which must be globally unique.


        Grubhub has a retry mechanism when attempting to download a partner menu. Upon failure, nine retry attempts over a span of five minutes are made before failing the job completely.


        You can call GET /pos/v1/merchant/{merchant_id}/ingestion/menu to retrieve the current menu, then edit that object and use this endpoint to replace the existing menu with the edited one.


        This call supports GZIP compression. In the request header, pass Accept-Encoding: gzip to receive a compressed response payload. Whether you send the JSON object compressed or not, it must be encoded in UTF-8.


        We recommend that you use this endpoint for all menu creation, edits, and deletions.'
      operationId: addOrUpdatePosFullMenu
      parameters:
      - name: X-GH-PARTNER-KEY
        in: header
        required: true
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        description: The request payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosNormalizedMenuUpdateRequest'
            example:
              merchant_ids:
              - store182
              menu_url: https://example.com/menu
              normalized_menu: true
              apply_existing_schedule_overrides: false
        required: true
      responses:
        '409':
          description: Merchant(s) already has an active async update process.
        '422':
          description: Syntax of the request content was correct, but unable to process the contained instructions.
        '200':
          description: Menu successfully enqueued for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosNormalizedMenuUpdateResult'
              example:
                job_id: b78fba98-fb76-4748-9c72-dba110afa923
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/merchant/{merchant_id}/menu/schedules/overrides/external:
    patch:
      tags:
      - Endpoints
      summary: Bulk menu item schedule override operation by external IDs
      description: Bulk add or update the menu schedule overrides by external ID. Used to '86' a list of entities (items / modifiers).
      operationId: bulkAddOrUpdateSchedulesOverridesByExternalIds
      parameters:
      - name: merchant_id
        in: path
        description: The Grubhub or third-party provided external ID for the merchant.
        required: true
        explode: false
        schema:
          type: string
      - name: allow_partial_success
        in: query
        description: Should valid overrides still be applied if there are individual failures on the bulk operation
        required: true
        explode: true
        schema:
          type: boolean
          default: false
      requestBody:
        description: A list of PosScheduleOverrideBulkRequests, each containing a list of Partner external entity IDs and the schedule override operation to be applied for all of them.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PosScheduleOverrideBulkRequest'
            example:
            - entity_ids:
              - entity_id1
              - entity_id2
              schedule_override:
                op: ADD
                start: '2023-07-20T12:00:00.000Z'
                end: '9999-12-31T23:59:00.000Z'
                show_or_hide: SHOW
            - entity_ids:
              - entity_id3
              - entity_id4
              schedule_override:
                op: UPDATE
                cur_end_date: '2023-07-20T12:00:00.000Z'
                start: '2023-07-20T12:00:00.000Z'
                end: '2023-12-31T23:59:00.000Z'
                show_or_hide: HIDE
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosScheduleOverrideMultiOperationResult'
              example:
                status: QUEUED
                message: Menu entity schedule override operation is queued.
                entity_ids:
                - entity_id_1
                - entity_id_2
                job_id: b3332f8b-64c6-4a46-89c2-3c27c27e8edf
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/merchant/{merchant_id}/menu/schedules/overrides:
    get:
      tags:
      - Endpoints
      summary: Get schedule overrides for a merchant
      description: Returns the schedule overrides for a given merchant, optionally you can pass dates to use as a range.
      operationId: getSchedulesOverridesForMerchant
      parameters:
      - name: merchant_id
        in: path
        description: The short Grubhub ID for the merchant. Corresponds to a single location.
        required: true
        explode: false
        schema:
          type: string
      - name: ending_after
        in: query
        description: A start date to use for the search window. If "now" is provided then current datetime will be used.
        required: true
        explode: true
        schema:
          type: string
      - name: ending_before
        in: query
        description: An end date to use for the search window. If "endOfTime" is provided then December 31, 9999, 23:59 (11:59 PM) UTC will be used
        required: true
        explode: true
        schema:
          type: string
      responses:
        '200':
          description: Schedule overrides were successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosScheduleOverrides'
              example:
                merchant_id: merchant_id_123
                item_overrides:
                - merchant_id: merchant_id_123
                  item_id: item_id_1
                  external_id: external_item_id_1
                  intervals:
                  - start: '2023-07-18T12:00:00Z'
                    end: '2023-07-18T15:00:00Z'
                    show_or_hide: SHOW
                  - start: '2023-07-19T10:00:00Z'
                    end: '2023-07-19T13:00:00Z'
                    show_or_hide: HIDE
                - merchant_id: merchant_id_123
                  item_id: item_id_2
                  external_id: external_item_id_2
                  intervals:
                  - start: '2023-07-18T14:00:00Z'
                    end: '2023-07-18T17:00:00Z'
                    show_or_hide: HIDE
                modifier_overrides:
                - merchant_id: merchant_id_123
                  modifier_id: modifier_id_1
                  external_id: external_modifier_id_1
                  intervals:
                  - start: '2023-07-18T12:00:00Z'
                    end: '2023-07-18T15:00:00Z'
                    show_or_hide: SHOW
        '404':
          description: Schedule Override(s) do not exist.
    patch:
      tags:
      - Endpoints
      summary: Bulk menu item schedule override operation by Grubhub internal IDs
      description: Bulk add or update the menu schedule overrides by Grubhub ID. Used to '86' a list of entities (items / modifiers).
      operationId: bulkAddOrUpdateSchedulesOverridesByInternalIds
      parameters:
      - name: merchant_id
        in: path
        description: The Grubhub or third-party provided external ID for the merchant.
        required: true
        explode: false
        schema:
          type: string
      - name: allow_partial_success
        in: query
        description: Should existing overrides be applied to the updated menu.Should only be "true" if overrides currently exist and the present and updated menu share the same set of items and modifiers.
        required: true
        explode: true
        schema:
          type: boolean
          default: false
      requestBody:
        description: A list of PosScheduleOverrideBulkRequests, each containing a list of Grubhub internal entity
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PosScheduleOverrideBulkRequest'
            example:
            - entity_ids:
              - entity_id1
              - entity_id2
              schedule_override:
                op: ADD
                start: '2023-07-20T12:00:00.000Z'
                end: '9999-12-31T23:59:00.000Z'
                show_or_hide: SHOW
            - entity_ids:
              - entity_id3
              - entity_id4
              schedule_override:
                op: UPDATE
                cur_end_date: '2023-07-20T12:00:00.000Z'
                start: '2023-07-20T12:00:00.000Z'
                end: '2023-12-31T23:59:00.000Z'
                show_or_hide: HIDE
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosScheduleOverrideMultiOperationResult'
              example:
                status: QUEUED
                message: Menu entity schedule override operation is queued.
                entity_ids:
                - entity_id_1
                - entity_id_2
                job_id: b3332f8b-64c6-4a46-89c2-3c27c27e8edf
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/merchant/{merchant_id}/menu/entities/tags/alcohol:
    patch:
      tags:
      - Endpoints
      summary: Mark items/modifiers as alcoholic
      description: Mark a merchant's specific items/modifiers with an 'ALCOHOL' classification tag.
      operationId: tagProductsAsAlcoholic
      parameters:
      - name: merchant_id
        in: path
        description: The short Grubhub ID for the merchant. Corresponds to a single location.
        required: true
        explode: false
        schema:
          type: string
      requestBody:
        description: Request payload for tagging products as alcoholic.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagProductsRequest'
            example:
              external_ids:
              - item-1
              - item-2
        required: true
      responses:
        '202':
          description: Successfully started the operation for tagging items/modifiers as alcoholic.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosSupplementalTagMultiOperationResult'
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/merchant/{merchant_id}/menu/schedules/overrides/{job_id}/status:
    get:
      tags:
      - Endpoints
      summary: Get bulk schedule override job status
      description: Returns the status of the bulk schedule override job.
      operationId: getBulkScheduleOverrideStatus
      parameters:
      - name: merchant_id
        in: path
        description: The Grubhub ID for the merchant OR the Partner merchant ID. This ID is not validated.
        required: true
        explode: false
        schema:
          type: string
      - name: job_id
        in: path
        description: The bulk schedule override unique job identifier.
        required: true
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        '422':
          description: Unprocessable Entity
        '200':
          description: Job status was successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosBulkScheduleOverrideStatus'
              example:
                job_id: e72d57a9-41c8-4a60-8f0b-fd42b396f11d
                processing_complete: true
                status: SUCCESSFUL
                reason: Bulk schedule override completed successfully.
                entity_override_results:
                - entity_index: 0
                  entity_id: entity_id_1
                  status: SUCCESSFUL
                  details: Entity override successful.
                - entity_index: 1
                  entity_id: entity_id_2
                  status: SUCCESSFUL
                  details: Entity override successful.
                merchant_id: merchant_id_123
        '404':
          description: Job does not exist.
    servers:
    - url: https://api-third-party-gtm-pp.grubhub.com
      description: preprod
    - url: https://api-third-party-gtm.grubhub.com
      description: prod
  /pos/v1/merchant/{merchant_id}/menu/normalized:
    get:
      tags:
      - Endpoints
      summary: Retrieve a normalized menu for a given merchant ID
      description: Returns the current menu as a PosNormalizedMenu object, which can be edited and ingested to update a merchant's or group of merchants' menu. You can edit the response payload and use it to update menus with the primary menu ingestion endpoint.
      operationId: findNormalizedMenu
      parameters:
      - name: merchant_id
        in: path
        description: The short Grubhub ID for the merchant. Corresponds to a single location.
        required: true
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosNormalizedMenu'
              example:
                menu_info:
                  currency: USD
                  sections:
                  - 1_sandwich
                  - 5_drinks
                  header_media: null
                  logo_media: null
                  search_media: null
                tax_rates:
                - external_id: feb124cea788f2d582bd40b188ffce1c
                  name: Tax rate feb124cea788f2d582bd40b188ffce1c
                  rate: 0.06
                - external_id: e737c3b7a4c99675212fd1d50e6d945b
                  name: Tax rate e737c3b7a4c99675212fd1d50e6d945b
                  rate: 0.0525
                - external_id: 1e89f83ca9c996b33fe10a907322c2e0
                  name: Tax rate 1e89f83ca9c996b33fe10a907322c2e0
                  rate: 0.0725
                - external_id: 37d5c0b6b354bc3c790d2696b42756c9
                  name: Tax rate 37d5c0b6b354bc3c790d2696b42756c9
                  rate: 0.08
                repeating_schedules: []
                menu_sections:
                - external_id: 1_sandwich
                  name: Sandwiches
                  internal_name: Sandwiches
                  description: These are delicious!
                  items:
                  - 1_sandwich|100_pbj_sandwich
                  - 1_sandwich|40006_basket_of_breadsticks
                  availability_ranges: []
                  schedule_ids: []
                  availability_override: null
                  media: null
                  tax_category:
                    code: '100020'
                - external_id: 5_drinks
                  name: Drinks
                  internal_name: Drinks
                  description: Great drinks for you enjoy on the go
                  items:
                  - 5_drinks|coffee
                  - 5_drinks|smoothie
                  - 5_drinks|fountain_drink
                  - 5_drinks|san_pellegrino_sparking_natural_mineral_water
                  availability_ranges: []
                  schedule_ids: []
                  availability_override: null
                  media: null
                items:
                - external_id: 1_sandwich|100_pbj_sandwich
                  name: PBJ Sandwich
                  internal_name: PBJ Sandwich
                  description: Delicious Peanut Butter and Jelly Sandwich
                  price: 0.0
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  size_prompt: null
                  modifier_prompts:
                  - 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large
                  - 1_sandwich|100_pbj_sandwich|spreads_pbj
                  schedule_ids: []
                  tags: []
                  minimum_order_quantity: null
                  maximum_order_quantity: null
                  calorie_content: null
                  media:
                    source_url: https://example.com/348863390-1.jpg
                  metadata: '{"order_ahead_menu_id":48630}'
                  availability_ranges: []
                  allowable_order_types:
                  - standard
                  availability_override: null
                  tax_category:
                    code: '100021'
                - external_id: 1_sandwich|40006_basket_of_breadsticks
                  name: Basket of Breadsticks
                  internal_name: Basket of Breadsticks
                  description: Shareable size of breadsticks
                  price: 3.0
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  size_prompt: null
                  modifier_prompts: []
                  schedule_ids: []
                  tags: []
                  minimum_order_quantity: 1
                  maximum_order_quantity: 50
                  calorie_content: null
                  media:
                    source_url: https://dreamdinners.com/theme/dreamdinners/images/recipe/default/745.jpg
                  metadata: '{"order_ahead_menu_id":48630}'
                  availability_ranges: []
                  allowable_order_types:
                  - standard
                  availability_override: null
                - external_id: 5_drinks|coffee
                  name: Coffee
                  internal_name: Coffee
                  description: Delicious coffee
                  price: 4.0
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  size_prompt: null
                  modifier_prompts:
                  - 5_drinks|coffee|uid_opt_coffee_size
                  - 5_drinks|coffee|opt_coffee_topping
                  - 5_drinks|coffee|opt_coffee_milk
                  schedule_ids: []
                  tags: []
                  minimum_order_quantity: null
                  maximum_order_quantity: null
                  calorie_content: null
                  media:
                    source_url: https://https://example.com/5473ca2.jpg
                  metadata: '{"order_ahead_menu_id":48630}'
                  availability_ranges: []
                  allowable_order_types:
                  - standard
                  availability_override: null
                - external_id: 5_drinks|smoothie
                  name: Smoothie
                  internal_name: Smoothie
                  description: Delicious smoothie
                  price: 3.0
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  size_prompt: null
                  modifier_prompts:
                  - 5_drinks|smoothie|uid_opt_coffee_size
                  - 5_drinks|smoothie|opt_smoothie_topping
                  schedule_ids: []
                  tags: []
                  minimum_order_quantity: null
                  maximum_order_quantity: null
                  calorie_content: null
                  media:
                    source_url: https://example.com/09dc1a2bbb542310071.png
                  metadata: '{"order_ahead_menu_id":48630}'
                  availability_ranges: []
                  allowable_order_types:
                  - standard
                  availability_override: null
                - external_id: 5_drinks|fountain_drink
                  name: Fountain Drink
                  internal_name: Fountain Drink
                  description: Pick your size and soda
                  price: 3.0
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  size_prompt: null
                  modifier_prompts:
                  - 5_drinks|fountain_drink|drink_selection
                  schedule_ids: []
                  tags: []
                  minimum_order_quantity: null
                  maximum_order_quantity: null
                  calorie_content: null
                  media:
                    source_url: https://example.com/1231231.png
                  metadata: '{"order_ahead_menu_id":48630}'
                  availability_ranges: []
                  allowable_order_types:
                  - standard
                  availability_override: null
                - external_id: 5_drinks|san_pellegrino_sparking_natural_mineral_water
                  name: San Pellegrino Sparkling Natural Mineral Water
                  internal_name: San Pellegrino Sparkling Natural Mineral Water
                  description: S.Pellegrino is a carbonated natural mineral water rich in minerals.
                  price: 4.0
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  size_prompt: null
                  modifier_prompts: []
                  schedule_ids: []
                  tags: []
                  minimum_order_quantity: null
                  maximum_order_quantity: null
                  calorie_content: null
                  media:
                    source_url: https://example.com/12312.jpg
                  metadata: '{"order_ahead_menu_id":48630}'
                  availability_ranges: []
                  allowable_order_types:
                  - standard
                  availability_override: null
                  gtin: 041508802185
                modifier_prompts:
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size
                  name: Size
                  internal_name: Size
                  modifier_list: 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|modifier_list
                  default_selection_model:
                    minimum_quantity: 1
                    maximum_quantity: 1
                  modifier_prompt_quantity_settings:
                    minimum_units: 1
                    maximum_units: 1
                  modifier_quantity_settings:
                    1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|10_pbj_small:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|30_pbj_large:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|20_pbj_medium:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type
                  name: Type of Cheese
                  internal_name: Type of Cheese
                  modifier_list: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|modifier_list
                  default_selection_model:
                    minimum_quantity: 1
                    maximum_quantity: 1
                  modifier_prompt_quantity_settings:
                    minimum_units: 1
                    maximum_units: 1
                  modifier_quantity_settings:
                    1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_cheddar:
                      default_units: 1
                      maximum_units: 1
                      unit_increment: 1
                    ? 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_american
                    : default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    ? 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_provolone
                    : default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers:
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_cheddar
                  modifier_prompt_free_settings: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large
                  name: Toppings
                  internal_name: Toppings
                  modifier_list: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|modifier_list
                  default_selection_model:
                    minimum_quantity: 0
                    maximum_quantity: 3
                  modifier_prompt_quantity_settings:
                    minimum_units: 0
                    maximum_units: 3
                  modifier_quantity_settings:
                    1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|30_bacon_opt_grilled_toppings_large:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|20_butter_opt_grilled_toppings_large:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 1_sandwich|100_pbj_sandwich|spreads_pbj
                  name: Spreads
                  internal_name: Spreads
                  modifier_list: 1_sandwich|100_pbj_sandwich|spreads_pbj|modifier_list
                  default_selection_model:
                    minimum_quantity: 0
                    maximum_quantity: 2
                  modifier_prompt_quantity_settings:
                    minimum_units: 0
                  modifier_quantity_settings:
                    1_sandwich|100_pbj_sandwich|spreads_pbj|jelly:
                      default_units: 1
                      maximum_units: 1
                      unit_increment: 1
                    1_sandwich|100_pbj_sandwich|spreads_pbj|peanut_butter:
                      default_units: 1
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers:
                  - 1_sandwich|100_pbj_sandwich|spreads_pbj|peanut_butter
                  - 1_sandwich|100_pbj_sandwich|spreads_pbj|jelly
                  modifier_prompt_free_settings: null
                - external_id: 5_drinks|coffee|uid_opt_coffee_size
                  name: Choose a Size
                  internal_name: Choose a Size
                  modifier_list: 5_drinks|coffee|uid_opt_coffee_size|modifier_list
                  default_selection_model:
                    minimum_quantity: 1
                    maximum_quantity: 1
                  modifier_prompt_quantity_settings:
                    minimum_units: 1
                    maximum_units: 1
                  modifier_quantity_settings:
                    5_drinks|coffee|uid_opt_coffee_size|large:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|coffee|uid_opt_coffee_size|small:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|coffee|uid_opt_coffee_size|medium:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 5_drinks|coffee|opt_coffee_topping
                  name: Condiments
                  internal_name: Condiments
                  modifier_list: 5_drinks|coffee|opt_coffee_topping|modifier_list
                  default_selection_model:
                    minimum_quantity: 0
                    maximum_quantity: 2
                  modifier_prompt_quantity_settings:
                    minimum_units: 0
                    maximum_units: 15
                  modifier_quantity_settings:
                    5_drinks|coffee|opt_coffee_topping|cream:
                      default_units: 0
                      maximum_units: 10
                      unit_increment: 1
                    5_drinks|coffee|opt_coffee_topping|sugar:
                      default_units: 0
                      maximum_units: 10
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 5_drinks|coffee|opt_coffee_milk
                  name: Milk
                  internal_name: Milk
                  modifier_list: 5_drinks|coffee|opt_coffee_milk|modifier_list
                  default_selection_model:
                    minimum_quantity: 0
                    maximum_quantity: 1
                  modifier_prompt_quantity_settings:
                    minimum_units: 0
                    maximum_units: 1
                  modifier_quantity_settings:
                    5_drinks|coffee|opt_coffee_milk|soy_milk:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|coffee|opt_coffee_milk|whole_milk:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|coffee|opt_coffee_milk|almond_milk:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|coffee|opt_coffee_milk|fat_free_milk:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 5_drinks|smoothie|uid_opt_coffee_size
                  name: Choose a Size
                  internal_name: Choose a Size
                  modifier_list: 5_drinks|smoothie|uid_opt_coffee_size|modifier_list
                  default_selection_model:
                    minimum_quantity: 1
                    maximum_quantity: 1
                  modifier_prompt_quantity_settings:
                    minimum_units: 1
                    maximum_units: 1
                  modifier_quantity_settings:
                    5_drinks|smoothie|uid_opt_coffee_size|large:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|smoothie|uid_opt_coffee_size|small:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|smoothie|uid_opt_coffee_size|medium:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 5_drinks|smoothie|opt_smoothie_topping
                  name: Condiments
                  internal_name: Condiments
                  modifier_list: 5_drinks|smoothie|opt_smoothie_topping|modifier_list
                  default_selection_model:
                    minimum_quantity: 1
                    maximum_quantity: 2
                  modifier_prompt_quantity_settings:
                    minimum_units: 1
                    maximum_units: 10
                  modifier_quantity_settings:
                    5_drinks|smoothie|opt_smoothie_topping|drizzle:
                      default_units: 0
                      maximum_units: 5
                      unit_increment: 1
                    5_drinks|smoothie|opt_smoothie_topping|whipped_cream:
                      default_units: 0
                      maximum_units: 5
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes
                  name: Drink Size
                  internal_name: Drink Size
                  modifier_list: 5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|modifier_list
                  default_selection_model:
                    minimum_quantity: 1
                    maximum_quantity: 1
                  modifier_prompt_quantity_settings:
                    minimum_units: 1
                    maximum_units: 1
                  modifier_quantity_settings:
                    5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|large:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|small:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|medium:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                - external_id: 5_drinks|fountain_drink|drink_selection
                  name: Choice of Fountain Beverage
                  internal_name: Choice of Fountain Beverage
                  modifier_list: 5_drinks|fountain_drink|drink_selection|modifier_list
                  default_selection_model:
                    minimum_quantity: 1
                    maximum_quantity: 1
                  modifier_prompt_quantity_settings:
                    minimum_units: 1
                    maximum_units: 1
                  modifier_quantity_settings:
                    5_drinks|fountain_drink|drink_selection|water:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|fountain_drink|drink_selection|club_soda:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|fountain_drink|drink_selection|ginger_ale:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|fountain_drink|drink_selection|lemon_lime:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|fountain_drink|drink_selection|orange_soda:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                    5_drinks|fountain_drink|drink_selection|strawberry_soda:
                      default_units: 0
                      maximum_units: 1
                      unit_increment: 1
                  defaulted_modifiers: []
                  modifier_prompt_free_settings: null
                modifier_lists:
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|modifier_list
                  name: Size
                  modifiers:
                  - 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|10_pbj_small
                  - 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|20_pbj_medium
                  - 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|30_pbj_large
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|modifier_list
                  name: Toppings
                  modifiers:
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|20_butter_opt_grilled_toppings_large
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|30_bacon_opt_grilled_toppings_large
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|modifier_list
                  name: Type of Cheese
                  modifiers:
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_cheddar
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_american
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_provolone
                - external_id: 1_sandwich|100_pbj_sandwich|spreads_pbj|modifier_list
                  name: Spreads
                  modifiers:
                  - 1_sandwich|100_pbj_sandwich|spreads_pbj|jelly
                  - 1_sandwich|100_pbj_sandwich|spreads_pbj|peanut_butter
                - external_id: 5_drinks|coffee|uid_opt_coffee_size|modifier_list
                  name: Choose a Size
                  modifiers:
                  - 5_drinks|coffee|uid_opt_coffee_size|small
                  - 5_drinks|coffee|uid_opt_coffee_size|medium
                  - 5_drinks|coffee|uid_opt_coffee_size|large
                - external_id: 5_drinks|coffee|opt_coffee_topping|modifier_list
                  name: Condiments
                  modifiers:
                  - 5_drinks|coffee|opt_coffee_topping|sugar
                  - 5_drinks|coffee|opt_coffee_topping|cream
                - external_id: 5_drinks|coffee|opt_coffee_milk|modifier_list
                  name: Milk
                  modifiers:
                  - 5_drinks|coffee|opt_coffee_milk|whole_milk
                  - 5_drinks|coffee|opt_coffee_milk|fat_free_milk
                  - 5_drinks|coffee|opt_coffee_milk|soy_milk
                  - 5_drinks|coffee|opt_coffee_milk|almond_milk
                - external_id: 5_drinks|smoothie|uid_opt_coffee_size|modifier_list
                  name: Choose a Size
                  modifiers:
                  - 5_drinks|smoothie|uid_opt_coffee_size|small
                  - 5_drinks|smoothie|uid_opt_coffee_size|medium
                  - 5_drinks|smoothie|uid_opt_coffee_size|large
                - external_id: 5_drinks|smoothie|opt_smoothie_topping|modifier_list
                  name: Condiments
                  modifiers:
                  - 5_drinks|smoothie|opt_smoothie_topping|whipped_cream
                  - 5_drinks|smoothie|opt_smoothie_topping|drizzle
                - external_id: 5_drinks|fountain_drink|drink_selection|modifier_list
                  name: Choice of Fountain Beverage
                  modifiers:
                  - 5_drinks|fountain_drink|drink_selection|strawberry_soda
                  - 5_drinks|fountain_drink|drink_selection|lemon_lime
                  - 5_drinks|fountain_drink|drink_selection|ginger_ale
                  - 5_drinks|fountain_drink|drink_selection|club_soda
                  - 5_drinks|fountain_drink|drink_selection|orange_soda
                  - 5_drinks|fountain_drink|drink_selection|water
                - external_id: 5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|modifier_list
                  name: Drink Size
                  modifiers:
                  - 5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|small
                  - 5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|medium
                  - 5_drinks|fountain_drink|drink_selection|orange_soda|drink_sizes|large
                modifiers:
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|10_pbj_small
                  name: Small
                  internal_name: Small
                  description: null
                  calorie_content: null
                  default_price: 6.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers: []
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                  tax_category:
                    code: '100022'
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|20_pbj_medium
                  name: Medium
                  internal_name: Medium
                  description: null
                  calorie_content: null
                  default_price: 7.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers: []
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_pbj_size|30_pbj_large
                  name: Large
                  internal_name: Large
                  description: null
                  calorie_content: null
                  default_price: 8.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers: []
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_cheddar
                  name: Cheddar
                  internal_name: Cheddar
                  description: null
                  calorie_content: null
                  default_price: 0.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers: []
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_american
                  name: American
                  internal_name: American
                  description: null
                  calorie_content: null
                  default_price: 0.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers: []
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type|cheese_provolone
                  name: Provolone
                  internal_name: Provolone
                  description: null
                  calorie_content: null
                  default_price: 0.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers: []
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large
                  name: Cheese
                  internal_name: Cheese
                  description: null
                  calorie_content: null
                  default_price: 0.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers:
                  - 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|10_cheese_opt_grilled_toppings_large|cheese_type
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|20_butter_opt_grilled_toppings_large
                  name: Butter
                  internal_name: Butter
                  description: null
                  calorie_content: null
                  default_price: 0.0
                  tags: []
                  tax_rate: feb124cea788f2d582bd40b188ffce1c
                  miscellaneous_taxes: []
                  media: null
                  sized_prices: []
                  submodifiers: []
                  metadata: '{}'
                  schedule_ids: []
                  availability_ranges: []
                  availability_override: null
                - external_id: 1_sandwich|100_pbj_sandwich|uid_opt_grilled_toppings_large|30_bacon_opt_grilled_toppings_large
                  name: Bacon
                  internal_name: Bacon
                  description: null
                  calorie_content: null
                  default_price: 3.0
                  tags: []
[...]
