openapi: 3.2.0
info:
  title: Endpoints Delivery Service Areas API
servers:
- url: https://api-third-party-gtm-pp.grubhub.com
  description: preprod
- url: https://api-third-party-gtm.grubhub.com
  description: prod
tags:
- name: Delivery Service Areas
paths:
  /delivery/daas/v1/servicearea:
    get:
      tags:
      - Delivery Service Areas
      summary: Get delivery service areas
      description: Returns all active delivery service areas.
      operationId: getServiceAreas
      parameters:
      - name: X-GH-PARTNER-KEY
        in: header
        description: The Grubhub-provided partner key.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Delivery service areas retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapperServiceAreaResponse'
              example:
                response:
                  delivery_areas:
                  - type: FeatureCollection
                    features:
                    - type: Feature
                      properties:
                        name: Example Service Area
                      geometry:
                        type: Polygon
                        coordinates:
                        - - - -122.03121852874756
                            - 37.33165280502906
                          - - -122.03121852874756
                            - 37.44188398726656
                          - - -121.88121852874755
                            - 37.44188398726656
                          - - -121.88121852874755
                            - 37.33165280502906
                          - - -122.03121852874756
                            - 37.33165280502906
        '500':
          description: Unexpected internal error
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: REQUEST_FAILED
                  message: Internal Server Error
        '403':
          description: Request Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: REQUEST_FORBIDDEN
                  message: Request forbidden
components:
  schemas:
    PublicApiError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: A code representing the type of error that occurred.
        message:
          type: string
          description: A detailed description of the error that occurred.
      description: An error returned by the delivery API.
    Geometry:
      required:
      - coordinates
      - type
      type: object
      properties:
        type:
          type: string
          description: The type of geometric shape of the delivery area.
          example: Polygon
        coordinates:
          type: array
          description: The coordinates of the delivery area.
          example:
          - - - 0.0
              - 0.0
            - - 0.0
              - 1.0
            - - 1.0
              - 1.0
            - - 1.0
              - 0.0
            - - 0.0
              - 0.0
          items:
            type: array
            description: The coordinates of the delivery area.
            example:
            - - - 0.0
                - 0.0
              - - 0.0
                - 1.0
              - - 1.0
                - 1.0
              - - 1.0
                - 0.0
              - - 0.0
                - 0.0
            items:
              type: array
              description: The coordinates of the delivery area.
              example:
              - - - 0.0
                  - 0.0
                - - 0.0
                  - 1.0
                - - 1.0
                  - 1.0
                - - 1.0
                  - 0.0
                - - 0.0
                  - 0.0
              items:
                type: number
                description: The coordinates of the delivery area.
                format: double
      description: The geometry of the delivery area.
    Properties:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the delivery area.
          example: CHICAGO-IL
      description: The properties of the delivery area.
    ResponseWrapperServiceAreaResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/ServiceAreaResponse'
        errors:
          type: array
          description: A list of errors returned.
          items:
            $ref: '#/components/schemas/PublicApiError'
    Feature:
      required:
      - geometry
      - properties
      - type
      type: object
      properties:
        type:
          type: string
          description: The type of feature.
          example: Feature
        properties:
          $ref: '#/components/schemas/Properties'
        geometry:
          $ref: '#/components/schemas/Geometry'
      description: The feature information of the delivery area.
    DeliveryArea:
      required:
      - features
      - type
      type: object
      properties:
        type:
          type: string
          description: The type of delivery area.
          example: FeatureCollection
        features:
          type: array
          description: The list of features that make up the delivery area.
          items:
            $ref: '#/components/schemas/Feature'
      description: The delivery area information.
    ServiceAreaResponse:
      required:
      - delivery_areas
      type: object
      properties:
        delivery_areas:
          type: array
          description: The list of delivery areas that are currently active.
          items:
            $ref: '#/components/schemas/DeliveryArea'
      description: The response information for delivery service areas.
