openapi: 3.2.0
info:
  title: Endpoints Delivery Status API
servers:
- url: https://api-third-party-gtm-pp.grubhub.com
  description: preprod
- url: https://api-third-party-gtm.grubhub.com
  description: prod
tags:
- name: Delivery Status
paths:
  /delivery/daas/v1/{deliveryId}/proxy:
    post:
      tags:
      - Delivery Status
      summary: Create proxy courier phone number
      description: Generates a proxy number that temporarily substitutes the courier's true phone number. The proxy number can be used to call or text the courier as if it were their true phone number.
      operationId: createProxyPhoneNumber
      parameters:
      - name: deliveryId
        in: path
        description: The delivery UUID associated with the proxy phone number request.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
      - name: X-GH-PARTNER-KEY
        in: header
        description: The Grubhub-provided partner key.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyPhoneNumberRequest'
        required: true
      responses:
        '200':
          description: Proxy phone number generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapperProxyPhoneNumberResponse'
              example:
                response:
                  phone_bridge:
                    expiration_time: '1970-01-01T00:00:00.000Z'
                    caller:
                      phone_number: '+15555555555'
                    courier_phone_proxy:
                      phone_number: '+17777777777'
        '500':
          description: Unexpected internal error
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: REQUEST_FAILED
                  message: Internal Server Error
        '403':
          description: Request forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: REQUEST_FORBIDDEN
                  message: 'Failed to get the masked phone number because partnerId: 00000000-0000-0000-0000-000000000000 does not have access to the deliveryId: 00000000-0000-0000-0000-000000000000'
        '404':
          description: Delivery not found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: DELIVERY_NOT_FOUND
                  message: Delivery not found with id=00000000-0000-0000-0000-000000000000
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: CONFLICT
                  message: 'Failed to get the masked phone number for the deliveryId: 00000000-0000-0000-0000-000000000000 and sourcePhoneNumber: +15555555555'
  /delivery/daas/v1/{deliveryId}:
    get:
      tags:
      - Delivery Status
      summary: Get delivery status
      description: Returns all status update events, courier information, and dropoff details for a delivery. Does not include any quote information.
      operationId: getStatus
      parameters:
      - name: deliveryId
        in: path
        description: The UUID associated with the delivery statuses being retrieved.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
      - name: X-GH-PARTNER-KEY
        in: header
        description: The Grubhub-provided partner key.
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Delivery status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWrapperDeliveryStatusResponse'
              example:
                response:
                  delivery:
                    delivery_id: 00000000-0000-0000-0000-000000000000
                    events:
                    - type: CANCELED
                      timestamp: '1970-01-01T00:00:00.000Z'
                      source: GRUBHUB
                      reason_code: DELIVERY_CANCELLATION_OTHER_REASON
                      reason_comment: Test cancellation
                    - type: PROOF_OF_DELIVERY
                      timestamp: '1970-01-01T00:00:00.000Z'
                      dropoff_image_details:
                        photo_url: http://www.grubhub.com/example.png
                        photo_capture_time: '1970-01-01T00:00:00.000Z'
                        photo_capture_location:
                          lat: 0
                          lng: 0
                        photo_expiration_time: '1970-01-01T00:00:00.000Z'
                    - type: DELIVERED
                      timestamp: '1970-01-01T00:00:00.000Z'
                      dropoff_image_details:
                        photo_url: http://www.grubhub.com/example.png
                        photo_capture_time: '1970-01-01T00:00:00.000Z'
                        photo_capture_location:
                          lat: 0
                          lng: 0
                        photo_expiration_time: '1970-01-01T00:00:00.000Z'
                    - type: COURIER_AT_DROPOFF
                      timestamp: '1970-01-01T00:00:00.000Z'
                    - type: IN_TRANSIT
                      timestamp: '1970-01-01T00:00:00.000Z'
                    - type: PICKED_UP
                      timestamp: '1970-01-01T00:00:00.000Z'
                    - type: COURIER_AT_PICKUP
                      timestamp: '1970-01-01T00:00:00.000Z'
                    - type: ASSIGNED
                      timestamp: '1970-01-01T00:00:00.000Z'
                    - type: CREATED
                      timestamp: '1970-01-01T00:00:00.000Z'
                    estimated_event_times:
                      picked_up: '1970-01-01T00:00:00.000Z'
                      dropped_off: '1970-01-01T00:00:00.000Z'
                    client_data:
                      external_id: ABC123
                      external_merchant_id: MERCHANT_123
                      external_source: RELAY_123
                      reference_number: 123XYZ4567ABC890
                  courier:
                    name: Nick
                    delivery_method: CAR
                    location:
                      lat: 0
                      lng: 0
        '500':
          description: Unexpected internal error
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: REQUEST_FAILED
                  message: Internal Server Error
        '403':
          description: Request Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicApiError'
              example:
                errors:
                - code: REQUEST_FORBIDDEN
                  message: Request forbidden
        '404':
          description: Delivery not found
          content:
            application/json:
              example:
                errors:
                - code: DELIVERY_NOT_FOUND
                  message: Delivery not found with id=00000000-0000-0000-0000-000000000000
components:
  schemas:
    ResponseWrapperDeliveryStatusResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/DeliveryStatusResponse'
        errors:
          type: array
          description: A list of errors returned.
          items:
            $ref: '#/components/schemas/PublicApiError'
    Assigned:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the delivery has been assigned.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    ReturnInitiated:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the delivery is in-transit back to the pickup location in order to return some portion of the delivery's contents.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
      - type: object
        properties:
          return_reason:
            type: string
            description: The reason the delivery's contents are being returned.
            example: DINER_MISSING_ID
    ProofOfDelivery:
      required:
      - timestamp
      - type
      type: object
      description: An event containing proof of delivery information.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
      - type: object
        properties:
          dropoff_image_details:
            $ref: '#/components/schemas/DropoffImageDetails'
    Courier:
      required:
      - delivery_method
      - location
      - name
      type: object
      properties:
        name:
          type: string
          description: The display name of the courier assigned to a delivery.
          example: Nick
        delivery_method:
          type: string
          description: Means of transportation by which a courier may be delivering.
          example: CAR
          enum:
          - CAR
          - BIKE
          - SCOOTER
          - WALK
          - UNKNOWN
        location:
          $ref: '#/components/schemas/GeoLocation'
      description: A courier.
    ResponseWrapperProxyPhoneNumberResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/ProxyPhoneNumberResponse'
        errors:
          type: array
          description: A list of errors returned.
          items:
            $ref: '#/components/schemas/PublicApiError'
    PickupVerificationDetails:
      type: object
      properties:
        result:
          type: string
          description: The result of pickup verification process.
          enum:
          - SUCCESS
          - FAILURE
          - UNKNOWN
        capture_method:
          type: string
          description: The method used to capture the pickup verification code.
          enum:
          - QR_SCAN
          - PHOTO
        failure_reason:
          type: string
          description: The reason for the verification failure, if applicable.
        attempts_count:
          type: integer
          description: The number of verification attempts made.
          format: int32
        photo_url:
          type: string
          description: A URL to the pickup verification photo, if applicable.
    DropoffImageDetails:
      required:
      - photo_capture_location
      - photo_capture_time
      - photo_expiration_time
      - photo_url
      type: object
      properties:
        photo_url:
          type: string
          description: A URL to the dropoff photo taken by the driver upon completing the delivery.
          example: http://www.grubhub.com/example.png
        photo_capture_time:
          type: string
          description: The timestamp at which the dropoff photo was captured. Formatted as an ISO-8601 timestamp.
          format: date-time
          example: '2024-05-28T00:00:00Z'
        photo_capture_location:
          $ref: '#/components/schemas/GeoLocation'
        photo_expiration_time:
          type: string
          description: The timestamp when the dropoff photo will expire. Formatted as an ISO-8601 timestamp.
          format: date-time
          example: '2024-05-28T00:00:00Z'
    Created:
      required:
      - timestamp
      - type
      type: object
      description: An event representing the creation of a delivery.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    PublicApiError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          description: A code representing the type of error that occurred.
        message:
          type: string
          description: A detailed description of the error that occurred.
      description: An error returned by the delivery API.
    ReturnArrived:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the courier has arrived back at the pickup location with the portion of the delivery's contents being returned.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    ClientData:
      type: object
      properties:
        external_id:
          maxLength: 128
          minLength: 0
          type: string
          description: A stored correlation id that isn't used by Grubhub's platform.
          example: ABC123
        external_merchant_id:
          maxLength: 128
          minLength: 0
          type: string
          description: A client-provided merchant identifier.
          example: MERCHANT_123
        external_source:
          maxLength: 128
          minLength: 0
          type: string
          description: The external source API from which the delivery came from.
          example: RELAY_123
        reference_number:
          type: string
          description: An external delivery identifier that is used by Grubhub's platform for display purposes.
          example: 123XYZ4567ABC890
      description: Client metadata associated with a delivery.
    EstimatedEventTimes:
      required:
      - dropped_off
      - picked_up
      type: object
      properties:
        picked_up:
          type: string
          description: The estimated pickup time, or the actual pickup time if the pickup has already occurred. Formatted as an ISO-8601 timestamp.
          format: date-time
          example: '2024-05-28T00:00:00Z'
        dropped_off:
          type: string
          description: The estimated drop-off time, or the actual drop-off time if the pickup has already occurred. Formatted as an ISO-8601 timestamp.
          format: date-time
          example: '2024-05-28T00:00:00Z'
      description: The latest known estimates for the delivery pickup and dropoff times. Will be the actual times if the event has already occurred.
    ProxyPhoneNumberResponse:
      required:
      - phone_bridge
      type: object
      properties:
        phone_bridge:
          $ref: '#/components/schemas/PhoneBridge'
      description: A response containing the phone bridge details used to connect to a courier.
    Unassigned:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the delivery has been unassigned. An unassigned delivery may still be reassigned to another driver later.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    InTransit:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the assigned courier has departed the restaurant with the delivery.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    Delivery:
      required:
      - delivery_id
      - estimated_event_times
      - events
      type: object
      properties:
        delivery_id:
          type: string
          description: A unique identifier of this delivery.
          format: uuid
          example: 0ec346bd-635a-4a07-8f35-44962a8bcc5b
        events:
          type: array
          description: A history of notable events that have occurred for this delivery.
          items:
            $ref: '#/components/schemas/DeliveryEvent'
        estimated_event_times:
          $ref: '#/components/schemas/EstimatedEventTimes'
        client_data:
          $ref: '#/components/schemas/ClientData'
      description: The information and historical events associated with a delivery.
    CourierAtDropoff:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the assigned courier has arrived at the delivery's dropoff location.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    PickupVerification:
      required:
      - timestamp
      - type
      type: object
      description: An event containing pickup verification information.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
      - type: object
        properties:
          pickup_verification_details:
            $ref: '#/components/schemas/PickupVerificationDetails'
    PhoneContactDetails:
      required:
      - phone_number
      type: object
      properties:
        phone_number:
          pattern: ^\+\d{11}$
          type: string
          description: A E.164 formatted phone number. Only 11-digits are supported.
          example: '+16145552332'
      description: The phone contact details.
    PickedUp:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the delivery has been picked up by the assigned courier.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    ReturnCompleted:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating that the necessary portion of the delivery's contents have been successfully returned to the pickup location.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
    Canceled:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating that the delivery was canceled.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
      - type: object
        properties:
          source:
            type: string
            description: Types of actors who may update a delivery.
            example: CLIENT
            enum:
            - CLIENT
            - GRUBHUB
          reason_code:
            type: string
            description: Codes for reasons why a delivery was canceled.
            example: CUSTOMER_OTHER_REASON
            enum:
            - MERCHANT_NOT_READY_FOR_PICKUP
            - MERCHANT_UNABLE_TO_FULFILL_ORDER
            - MERCHANT_CLOSED
            - MERCHANT_PICKUP_DELAYED
            - MERCHANT_ITEM_MISSING
            - MERCHANT_OTHER_REASON
            - EXTERNAL_SYSTEM_FAILURE
            - CUSTOMER_CONTENTS_ISSUE
            - CUSTOMER_ORDER_CHANGED
            - CUSTOMER_REFUSED_DELIVERY
            - CUSTOMER_DELIVERY_DELAYED
            - CUSTOMER_OTHER_REASON
            - ORDER_PICKED_UP_BY_ANOTHER_DRIVER
            - DRIVER_UNABLE_TO_FINISH_DELIVERY
            - UNABLE_TO_ASSIGN_DRIVER
            - EXTERNAL_PARTNER_OTHER_REASON
            - DELIVERY_CANCELLATION_OTHER_REASON
            - UNKNOWN
          reason_comment:
            type: string
            description: Additional detail about the cancellation.
            example: Customer no longer wants delivery.
    Delivered:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the delivery has been successfully delivered.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
      - type: object
        properties:
          dropoff_image_details:
            description: Use `dropoff_image_details` in the `ProofOfDelivery` event instead.
            deprecated: true
            allOf:
            - $ref: '#/components/schemas/DropoffImageDetails'
    DeliveryStatusResponse:
      required:
      - delivery
      type: object
      properties:
        delivery:
          $ref: '#/components/schemas/Delivery'
        courier:
          $ref: '#/components/schemas/Courier'
        tracking_url:
          type: string
          description: The url for the delivery tracking UI.
      description: Information about the status of a delivery.
    PhoneBridge:
      required:
      - caller
      - courier_phone_proxy
      - expiration_time
      type: object
      properties:
        expiration_time:
          type: string
          description: The expiration time of the proxy phone number. Formatted as an ISO-8601 timestamp.
          format: date-time
          example: '2024-03-14T19:22:51.999Z'
        caller:
          $ref: '#/components/schemas/PhoneContactDetails'
        courier_phone_proxy:
          $ref: '#/components/schemas/PhoneContactDetails'
      description: The phone bridge details used to connect a caller to a courier.
    ProxyPhoneNumberRequest:
      required:
      - caller
      type: object
      properties:
        caller:
          $ref: '#/components/schemas/PhoneContactDetails'
      description: A request used to create a phone bridge between a caller and courier.
    DeliveryEvent:
      required:
      - timestamp
      - type
      type: object
      properties:
        type:
          type: string
          description: The type of this event.
          example: PICKED_UP
          enum:
          - CREATED
          - ASSIGNED
          - UNASSIGNED
          - COURIER_AT_PICKUP
          - PICKED_UP
          - IN_TRANSIT
          - COURIER_AT_DROPOFF
          - DELIVERED
          - PROOF_OF_DELIVERY
          - RETURN_INITIATED
          - RETURN_ARRIVED
          - RETURN_COMPLETED
          - PICKUP_VERIFICATION
          - CANCELED
        timestamp:
          type: string
          description: The time at which this event occurred. Formatted as an ISO-8601 timestamp.
          format: date-time
          example: '2024-05-28T00:00:00Z'
      description: An event during the course of a single delivery's lifecycle.
      discriminator:
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/Created'
      - $ref: '#/components/schemas/Assigned'
      - $ref: '#/components/schemas/Unassigned'
      - $ref: '#/components/schemas/CourierAtPickup'
      - $ref: '#/components/schemas/PickedUp'
      - $ref: '#/components/schemas/InTransit'
      - $ref: '#/components/schemas/CourierAtDropoff'
      - $ref: '#/components/schemas/Delivered'
      - $ref: '#/components/schemas/ProofOfDelivery'
      - $ref: '#/components/schemas/PickupVerification'
      - $ref: '#/components/schemas/ReturnInitiated'
      - $ref: '#/components/schemas/ReturnArrived'
      - $ref: '#/components/schemas/ReturnCompleted'
      - $ref: '#/components/schemas/Canceled'
    GeoLocation:
      required:
      - lat
      - lng
      type: object
      properties:
        lat:
          type: number
          description: The latitude of the location.
          format: double
          example: 41.88320791307697
        lng:
          type: number
          description: The longitude of the location.
          format: double
          example: -87.63142796027925
      description: The last known location of the courier.
    CourierAtPickup:
      required:
      - timestamp
      - type
      type: object
      description: An event indicating the assigned courier has arrived at the delivery's pickup location.
      allOf:
      - $ref: '#/components/schemas/DeliveryEvent'
