{"openapi":"3.0.1","info":{"title":"Deliveries"},"servers":[{"url":"https://api-third-party-gtm-pp.grubhub.com","description":"preprod"},{"url":"https://api-third-party-gtm.grubhub.com","description":"prod"}],"tags":[{"name":"Models","description":"# Courier \n <SchemaDefinition schemaRef=\"#/components/schemas/Courier\"/>\n\n# DeliveryItem \n <SchemaDefinition schemaRef=\"#/components/schemas/DeliveryItem\"/>\n\n# DeliveryItemOption \n <SchemaDefinition schemaRef=\"#/components/schemas/DeliveryItemOption\"/>\n\n# DeliveryPreferences \n <SchemaDefinition schemaRef=\"#/components/schemas/DeliveryPreferences\"/>\n\n# DeliveryTime \n <SchemaDefinition schemaRef=\"#/components/schemas/DeliveryTime\"/>\n\n# DeliveryTimes \n <SchemaDefinition schemaRef=\"#/components/schemas/DeliveryTimes\"/>\n\n# GeoLocation \n <SchemaDefinition schemaRef=\"#/components/schemas/GeoLocation\"/>\n\n# ItemDimensions \n <SchemaDefinition schemaRef=\"#/components/schemas/ItemDimensions\"/>\n\n# ItemSizing \n <SchemaDefinition schemaRef=\"#/components/schemas/ItemSizing\"/>\n\n# ItemWeight \n <SchemaDefinition schemaRef=\"#/components/schemas/ItemWeight\"/>\n\n# Location \n <SchemaDefinition schemaRef=\"#/components/schemas/Location\"/>\n\n# Vehicle \n <SchemaDefinition schemaRef=\"#/components/schemas/Vehicle\"/>\n\n# Address \n <SchemaDefinition schemaRef=\"#/components/schemas/Address\"/>\n\n# Coordinates \n <SchemaDefinition schemaRef=\"#/components/schemas/Coordinates\"/>\n\n# PosDelivery \n <SchemaDefinition schemaRef=\"#/components/schemas/PosDelivery\"/>\n\n"}],"paths":{"/pos/v1/merchant/{merchant_long_id}/orders/{order_uuid}/delivery":{"get":{"tags":["Endpoints"],"summary":"Get delivery by order ID","description":"Retrieve the current state of a Delivery for an Order.","operationId":"getExternalDeliveryByOrderUuid","parameters":[{"name":"merchant_long_id","in":"path","description":"The Grubhub long ID for the merchant. Corresponds to a single location.","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"order_uuid","in":"path","description":"The unique ID for the Order whose Delivery information is being requested.","required":true,"style":"simple","explode":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"403":{"description":" You do not have access to the requested resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosDelivery"},"example":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","account_id":"3d07c219-0a88-45be-9cfc-91e9d095a1e9","confirmation_code":"HVUYBJH","region_id":"a29f01e1-8a8d-451e-b685-f8b0b4ec4767","name":"Grubhub order 76884765873","pickup":{"id":"UvYO6VyVEeiVadmHZVMREg","name":"Good Food, Inc.","address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"11111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"location_address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"1111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"phone":"4045551212","notes":"string","geo":{"lat":37.65947723,"lng":-81.43487549},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"dropoff":{"id":"AvYO6VyVEeiVadmHZVMROm","name":"Steve McSteverson","address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"location_address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"phone":"4045552121","notes":"test notes","geo":{"lat":37.659479,"lng":-81.434876},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"flags":["LARGE_ORDER"],"contents":[{"diner_id":"ef1a26c6-b927-49dd-9b66-8fe8d8646837","description":"Cheese Burger","size":"M","tags":["ITEM"],"quantity":3,"options":[{"description":"SUB ITEM","tags":[],"quantity":1,"options":[{}]}],"category_name":"Burgers"}],"status":"Delivered","courier":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","name":"Jack Burton","vehicle":{"type":"car","description":""},"phone":"4045552323","photo_url":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png","geo":{"lat":37.67577137428678,"lng":-81.40696178943328}},"created":"2019-08-24T14:15:22Z","pickup_ready":"2019-08-24T14:15:22Z","times":{"pickup_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"}},"committed_times":{"pickup_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"}},"test":false,"preferences":{"pickup_time":"2019-08-24T14:15:22Z","delivery_time":"2019-08-24T14:15:22Z"},"metadata":{}}}}},"422":{"description":" One or more of the fields passed could not be used","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosDelivery"},"example":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","account_id":"3d07c219-0a88-45be-9cfc-91e9d095a1e9","confirmation_code":"HVUYBJH","region_id":"a29f01e1-8a8d-451e-b685-f8b0b4ec4767","name":"Grubhub order 76884765873","pickup":{"id":"UvYO6VyVEeiVadmHZVMREg","name":"Good Food, Inc.","address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"11111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"location_address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"1111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"phone":"4045551212","notes":"string","geo":{"lat":37.65947723,"lng":-81.43487549},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"dropoff":{"id":"AvYO6VyVEeiVadmHZVMROm","name":"Steve McSteverson","address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"location_address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"phone":"4045552121","notes":"test notes","geo":{"lat":37.659479,"lng":-81.434876},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"flags":["LARGE_ORDER"],"contents":[{"diner_id":"ef1a26c6-b927-49dd-9b66-8fe8d8646837","description":"Cheese Burger","size":"M","tags":["ITEM"],"quantity":3,"options":[{"description":"SUB ITEM","tags":[],"quantity":1,"options":[{}]}],"category_name":"Burgers"}],"status":"Delivered","courier":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","name":"Jack Burton","vehicle":{"type":"car","description":""},"phone":"4045552323","photo_url":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png","geo":{"lat":37.67577137428678,"lng":-81.40696178943328}},"created":"2019-08-24T14:15:22Z","pickup_ready":"2019-08-24T14:15:22Z","times":{"pickup_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"}},"committed_times":{"pickup_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"}},"test":false,"preferences":{"pickup_time":"2019-08-24T14:15:22Z","delivery_time":"2019-08-24T14:15:22Z"},"metadata":{}}}}},"429":{"description":" You have sent too many API calls in a short period of time","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosDelivery"},"example":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","account_id":"3d07c219-0a88-45be-9cfc-91e9d095a1e9","confirmation_code":"HVUYBJH","region_id":"a29f01e1-8a8d-451e-b685-f8b0b4ec4767","name":"Grubhub order 76884765873","pickup":{"id":"UvYO6VyVEeiVadmHZVMREg","name":"Good Food, Inc.","address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"11111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"location_address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"1111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"phone":"4045551212","notes":"string","geo":{"lat":37.65947723,"lng":-81.43487549},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"dropoff":{"id":"AvYO6VyVEeiVadmHZVMROm","name":"Steve McSteverson","address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"location_address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"phone":"4045552121","notes":"test notes","geo":{"lat":37.659479,"lng":-81.434876},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"flags":["LARGE_ORDER"],"contents":[{"diner_id":"ef1a26c6-b927-49dd-9b66-8fe8d8646837","description":"Cheese Burger","size":"M","tags":["ITEM"],"quantity":3,"options":[{"description":"SUB ITEM","tags":[],"quantity":1,"options":[{}]}],"category_name":"Burgers"}],"status":"Delivered","courier":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","name":"Jack Burton","vehicle":{"type":"car","description":""},"phone":"4045552323","photo_url":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png","geo":{"lat":37.67577137428678,"lng":-81.40696178943328}},"created":"2019-08-24T14:15:22Z","pickup_ready":"2019-08-24T14:15:22Z","times":{"pickup_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"}},"committed_times":{"pickup_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"}},"test":false,"preferences":{"pickup_time":"2019-08-24T14:15:22Z","delivery_time":"2019-08-24T14:15:22Z"},"metadata":{}}}}},"200":{"description":" OK - Successfully found delivery details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosDelivery"},"example":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","account_id":"3d07c219-0a88-45be-9cfc-91e9d095a1e9","confirmation_code":"HVUYBJH","region_id":"a29f01e1-8a8d-451e-b685-f8b0b4ec4767","name":"Grubhub order 76884765873","pickup":{"id":"UvYO6VyVEeiVadmHZVMREg","name":"Good Food, Inc.","address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"11111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"location_address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"1111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"phone":"4045551212","notes":"string","geo":{"lat":37.65947723,"lng":-81.43487549},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"dropoff":{"id":"AvYO6VyVEeiVadmHZVMROm","name":"Steve McSteverson","address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"location_address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"phone":"4045552121","notes":"test notes","geo":{"lat":37.659479,"lng":-81.434876},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"flags":["LARGE_ORDER"],"contents":[{"diner_id":"ef1a26c6-b927-49dd-9b66-8fe8d8646837","description":"Cheese Burger","size":"M","tags":["ITEM"],"quantity":3,"options":[{"description":"SUB ITEM","tags":[],"quantity":1,"options":[{}]}],"category_name":"Burgers"}],"status":"Delivered","courier":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","name":"Jack Burton","vehicle":{"type":"car","description":""},"phone":"4045552323","photo_url":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png","geo":{"lat":37.67577137428678,"lng":-81.40696178943328}},"created":"2019-08-24T14:15:22Z","pickup_ready":"2019-08-24T14:15:22Z","times":{"pickup_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"}},"committed_times":{"pickup_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"}},"test":false,"preferences":{"pickup_time":"2019-08-24T14:15:22Z","delivery_time":"2019-08-24T14:15:22Z"},"metadata":{}}}}},"500":{"description":" The server has returned an unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosDelivery"},"example":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","account_id":"3d07c219-0a88-45be-9cfc-91e9d095a1e9","confirmation_code":"HVUYBJH","region_id":"a29f01e1-8a8d-451e-b685-f8b0b4ec4767","name":"Grubhub order 76884765873","pickup":{"id":"UvYO6VyVEeiVadmHZVMREg","name":"Good Food, Inc.","address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"11111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"location_address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"1111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"phone":"4045551212","notes":"string","geo":{"lat":37.65947723,"lng":-81.43487549},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"dropoff":{"id":"AvYO6VyVEeiVadmHZVMROm","name":"Steve McSteverson","address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"location_address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"phone":"4045552121","notes":"test notes","geo":{"lat":37.659479,"lng":-81.434876},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"flags":["LARGE_ORDER"],"contents":[{"diner_id":"ef1a26c6-b927-49dd-9b66-8fe8d8646837","description":"Cheese Burger","size":"M","tags":["ITEM"],"quantity":3,"options":[{"description":"SUB ITEM","tags":[],"quantity":1,"options":[{}]}],"category_name":"Burgers"}],"status":"Delivered","courier":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","name":"Jack Burton","vehicle":{"type":"car","description":""},"phone":"4045552323","photo_url":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png","geo":{"lat":37.67577137428678,"lng":-81.40696178943328}},"created":"2019-08-24T14:15:22Z","pickup_ready":"2019-08-24T14:15:22Z","times":{"pickup_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"}},"committed_times":{"pickup_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"}},"test":false,"preferences":{"pickup_time":"2019-08-24T14:15:22Z","delivery_time":"2019-08-24T14:15:22Z"},"metadata":{}}}}},"404":{"description":" Delivery details were not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosDelivery"},"example":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","account_id":"3d07c219-0a88-45be-9cfc-91e9d095a1e9","confirmation_code":"HVUYBJH","region_id":"a29f01e1-8a8d-451e-b685-f8b0b4ec4767","name":"Grubhub order 76884765873","pickup":{"id":"UvYO6VyVEeiVadmHZVMREg","name":"Good Food, Inc.","address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"11111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"location_address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"1111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"phone":"4045551212","notes":"string","geo":{"lat":37.65947723,"lng":-81.43487549},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"dropoff":{"id":"AvYO6VyVEeiVadmHZVMROm","name":"Steve McSteverson","address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"location_address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"phone":"4045552121","notes":"test notes","geo":{"lat":37.659479,"lng":-81.434876},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"flags":["LARGE_ORDER"],"contents":[{"diner_id":"ef1a26c6-b927-49dd-9b66-8fe8d8646837","description":"Cheese Burger","size":"M","tags":["ITEM"],"quantity":3,"options":[{"description":"SUB ITEM","tags":[],"quantity":1,"options":[{}]}],"category_name":"Burgers"}],"status":"Delivered","courier":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","name":"Jack Burton","vehicle":{"type":"car","description":""},"phone":"4045552323","photo_url":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png","geo":{"lat":37.67577137428678,"lng":-81.40696178943328}},"created":"2019-08-24T14:15:22Z","pickup_ready":"2019-08-24T14:15:22Z","times":{"pickup_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"}},"committed_times":{"pickup_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"}},"test":false,"preferences":{"pickup_time":"2019-08-24T14:15:22Z","delivery_time":"2019-08-24T14:15:22Z"},"metadata":{}}}}}}}},"/pos/v1/deliveries/{delivery_id}":{"get":{"tags":["Endpoints"],"summary":"Get delivery by delivery ID","description":"Retrieve the current state of a Delivery.","operationId":"getExternalDeliveryByDeliveryId","parameters":[{"name":"delivery_id","in":"path","description":"The ID of the delivery to retrieve.","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"example":"497f6eca-6276-4993-bfeb-53cbbbba6f08"}],"responses":{"200":{"description":" OK - Successfully found delivery details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosDelivery"},"example":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","account_id":"3d07c219-0a88-45be-9cfc-91e9d095a1e9","confirmation_code":"HVUYBJH","region_id":"a29f01e1-8a8d-451e-b685-f8b0b4ec4767","name":"Grubhub order 76884765873","pickup":{"id":"UvYO6VyVEeiVadmHZVMREg","name":"Good Food, Inc.","address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"11111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"location_address":{"region_code":"US","address_lines":["234 Star Avenue"],"cross_streets":"test cross street 1","locality":"New York City","sublocality":"New York City","neighborhood":"test","administrative_area":"NY","postal_code":"1111","sorting_code":"999","coordinates":{"latitude":37.65947723,"longitude":-81.43487549},"organization_name":"Good Food, Inc."},"phone":"4045551212","notes":"string","geo":{"lat":37.65947723,"lng":-81.43487549},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"dropoff":{"id":"AvYO6VyVEeiVadmHZVMROm","name":"Steve McSteverson","address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"location_address":{"region_code":"456","address_lines":["2940 Secondary Ln"],"cross_streets":"test cross street 2","locality":"Anytown","sublocality":"Anytown","neighborhood":"test1","administrative_area":"NY","postal_code":"11112","sorting_code":"123","coordinates":{"latitude":37.659479,"longitude":-81.434876},"organization_name":"Home"},"phone":"4045552121","notes":"test notes","geo":{"lat":37.659479,"lng":-81.434876},"geofence_radius_in_meters":0,"merchant_phone_suppressed":true},"flags":["LARGE_ORDER"],"contents":[{"diner_id":"ef1a26c6-b927-49dd-9b66-8fe8d8646837","description":"Cheese Burger","size":"M","tags":["ITEM"],"quantity":3,"options":[{"description":"SUB ITEM","tags":[],"quantity":1,"options":[{}]}],"category_name":"Burgers"}],"status":"Delivered","courier":{"id":"497f6eca-6276-4993-bfeb-53cbbbba6f08","name":"Jack Burton","vehicle":{"type":"car","description":""},"phone":"4045552323","photo_url":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png","geo":{"lat":37.67577137428678,"lng":-81.40696178943328}},"created":"2019-08-24T14:15:22Z","pickup_ready":"2019-08-24T14:15:22Z","times":{"pickup_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"actual","timestamp":"2019-08-24T14:15:22Z"}},"committed_times":{"pickup_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"pickup":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff_arrival":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"},"dropoff":{"type":"estimate","timestamp":"2019-08-24T14:15:22Z"}},"test":false,"preferences":{"pickup_time":"2019-08-24T14:15:22Z","delivery_time":"2019-08-24T14:15:22Z"},"metadata":{}}}}}}}}},"components":{"schemas":{"Courier":{"required":["geo","id","name","phone","vehicle"],"type":"object","properties":{"id":{"type":"string","description":"A unique ID that GrubHub has assigned to the courier","format":"uuid","example":"497f6eca-6276-4993-bfeb-53cbbbba6f08"},"name":{"type":"string","description":"The full name of the courier","example":"Jack Burton"},"vehicle":{"$ref":"#/components/schemas/Vehicle"},"phone":{"type":"string","description":"A phone number that may be used to contact the courier","example":"4045552323"},"photo_url":{"type":"string","description":"A URL that can be used to see a picture of the courier","example":"https://s3.amazonaws.com/gh-prod-drivers-data/drivers/xxxxx/avatar.png"},"geo":{"$ref":"#/components/schemas/GeoLocation"},"employer":{"type":"string","description":"The courier's employer"}},"description":"A courier (driver, biker, etc.) that has been assigned to execute a delivery request."},"DeliveryItem":{"required":["description","diner_id"],"type":"object","properties":{"diner_id":{"type":"string","description":"UUID of the diner ordering this item","format":"uuid","example":"ef1a26c6-b927-49dd-9b66-8fe8d8646837"},"description":{"type":"string","description":"Description of the item being delivered","example":"Cheese Burger"},"size":{"type":"string","description":"The size of the item from XS to XXL","example":"M","enum":["XS, S, M, L, XL, XXL"]},"tags":{"type":"array","description":"Optional flags to identify various transportation constraints (alcohol, spillable, etc.) as well as any tags the customer feel like adding","items":{"type":"string","description":"Optional flags to identify various transportation constraints (alcohol, spillable, etc.) as well as any tags the customer feel like adding"}},"quantity":{"minimum":1,"type":"integer","description":"Optional quantity with a default quantity of 1","format":"int32"},"options":{"type":"array","description":"Optional options on the item (Lettuce, Tomato, Onion, Chicken, Beef)","items":{"$ref":"#/components/schemas/DeliveryItemOption"}},"category_name":{"type":"string","description":"The name of the category of the item","example":"Burgers"},"sizing":{"$ref":"#/components/schemas/ItemSizing"}},"description":"An item that is being delivered."},"DeliveryItemOption":{"required":["description"],"type":"object","properties":{"description":{"type":"string","description":"Description of the item being delivered","example":"SUB ITEM"},"tags":{"type":"array","description":"Optional flags to identify various transportation constraints (alcohol, spillable, etc.) as well as any tags the customer feel like adding","items":{"type":"string","description":"Optional flags to identify various transportation constraints (alcohol, spillable, etc.) as well as any tags the customer feel like adding"}},"quantity":{"minimum":1,"type":"integer","description":"Optional quantity with a default quantity of 1","format":"int32","example":1},"options":{"type":"array","description":"Optional options on the item (No, Light, Heavy)","items":{"$ref":"#/components/schemas/DeliveryItemOption"}}},"description":"An option on an item within a delivery"},"DeliveryPreferences":{"type":"object","properties":{"pickup_time":{"type":"string","description":"The desired time for a driver to arrive at the pickup location","format":"date-time","example":"2019-08-24T14:15:22Z"},"delivery_time":{"type":"string","description":"The desired time for a driver to arrive at the dropoff location","format":"date-time","example":"2019-08-24T14:45:22Z"}},"description":"A set of preferred details about a delivery"},"DeliveryTime":{"required":["timestamp","type"],"type":"object","properties":{"type":{"type":"string","description":"Whether or not this is an estimated time of activity or it has already taken place","example":"estimate","enum":["estimate, actual"]},"timestamp":{"type":"string","description":"Time that this action occurred or is estimated to occur","format":"date-time","example":"2019-08-24T14:15:22Z"}},"description":"Estimated or actual time that some activity (contents picked up or dropped off) will or has taken place."},"DeliveryTimes":{"required":["dropoff","dropoff_arrival","pickup","pickup_arrival"],"type":"object","properties":{"pickup_arrival":{"$ref":"#/components/schemas/DeliveryTime"},"pickup":{"$ref":"#/components/schemas/DeliveryTime"},"contents_prep_complete":{"$ref":"#/components/schemas/DeliveryTime"},"dropoff_arrival":{"$ref":"#/components/schemas/DeliveryTime"},"dropoff":{"$ref":"#/components/schemas/DeliveryTime"},"geofence_pickup_arrival":{"$ref":"#/components/schemas/DeliveryTime"},"geofence_dropoff_arrival":{"$ref":"#/components/schemas/DeliveryTime"},"return_initiated":{"$ref":"#/components/schemas/DeliveryTime"},"return_arrival":{"$ref":"#/components/schemas/DeliveryTime"},"return_complete":{"$ref":"#/components/schemas/DeliveryTime"}},"description":"Estimated or actual times for pickup and dropoff of contents."},"GeoLocation":{"required":["lat","lng"],"type":"object","properties":{"lat":{"type":"number","description":"Latitude coordinate","format":"double","example":37.67577137428678},"lng":{"type":"number","description":"Longitude coordinate","format":"double","example":-81.40696178943328}},"description":"Latitude and longitude coordinates for a location."},"ItemDimensions":{"type":"object","properties":{"unit":{"type":"string","description":"Unit of measurement, for example, FEET, INCHES, etc.","enum":["INCHES","FEET"]},"width_range":{"type":"object"},"height_range":{"type":"object"},"depth_range":{"type":"object"}},"description":"The dimensions of an item"},"ItemSizing":{"type":"object","properties":{"weight":{"$ref":"#/components/schemas/ItemWeight"},"dimensions":{"$ref":"#/components/schemas/ItemDimensions"}},"description":"Size of an item within a delivery"},"ItemWeight":{"type":"object","properties":{"unit":{"type":"string","description":"Unit of measurement, for example, POUNDS, OUNCES, etc. ","enum":["POUNDS"]},"weight_range":{"type":"object"}},"description":"An item's weight range (and unit of measurement)"},"Location":{"required":["location_address","name","phone"],"type":"object","properties":{"id":{"type":"string","description":"A unique identifier that the requesting party can send to help identify where deliveries can be batched","example":"AvYO6VyVEeiVadmHZVMROm"},"name":{"type":"string","description":"A short description of the location","example":"Good Food, Inc."},"location_address":{"$ref":"#/components/schemas/Address"},"phone":{"type":"string","description":"Telephone number for contacting this location","example":"4045551212"},"notes":{"type":"string","description":"Special instructions for access to the location","example":"Use side door."},"geofence_radius_in_meters":{"type":"integer","description":"The geofence radius in meters for automated arrival","format":"int32","example":0},"handoff_pin_geo":{"$ref":"#/components/schemas/GeoLocation"},"merchant_phone_suppressed":{"type":"boolean","description":"Flag to hide the merchant contact phone number","example":true}},"description":"Geographic and contact details for where contents will be picked up from or dropped off."},"Vehicle":{"required":["type"],"type":"object","properties":{"type":{"type":"string","description":"Describes the mode of transportation (car, bike, etc.)","example":"car","enum":["car, bike, robot, drone"]},"description":{"type":"string","description":"The make, model and color of the vehicle where applicable","example":"Ford Explorer, black"}},"description":"A vehicle used by a courier."},"Address":{"type":"object","properties":{"region_code":{"type":"string","description":"ISO 3166-1 alpha-2 country code, e.g. US, GB"},"address_lines":{"type":"array","description":"In order street address line 1, 2, etc.","items":{"type":"string","description":"In order street address line 1, 2, etc."}},"cross_streets":{"type":"string","description":"Usually a rough description of the intersection for delivery."},"locality":{"type":"string","description":"Usually refers to postal town or city."},"sublocality":{"type":"string","description":"Borough, district, an entity with an administrative boundary."},"neighborhood":{"type":"string","description":"A subdivision of sublocality, with or without a an administrative boundary.<br />It might also refer to a common name that is associated with the location."},"administrative_area":{"type":"string","description":"State, or some sort of highest level subdivision of the region."},"postal_code":{"type":"string","description":"Postal code."},"sorting_code":{"type":"string","description":"Not used in most regions. Sorting code for addressing purposes."},"coordinates":{"$ref":"#/components/schemas/Coordinates"},"organization_name":{"type":"string","description":"Name of the organization."},"detailed_pin_coordinates":{"$ref":"#/components/schemas/Coordinates"}},"description":"Physical street address"},"Coordinates":{"type":"object","properties":{"latitude":{"type":"number","description":"Latitude of the address."},"longitude":{"type":"number","description":"Longitude of the address."}},"description":"Coordinates of the address."},"PosDelivery":{"type":"object","properties":{"id":{"type":"string","description":"A unique Grubhub ID for the delivery.","format":"uuid"},"account_id":{"type":"string","description":"The business account ID that was used to create the delivery.","format":"uuid"},"confirmation_code":{"type":"string","description":"A Grubhub 6-character code for referencing the delivery by humans. This should be displayed to the end user for reference when calling in to Grubhub customer care. It is also provided to the driver."},"region_id":{"type":"string","description":"Region Id","format":"uuid"},"name":{"type":"string","description":"Short text description for the delivery (typically, the name of the diner or delivery recipient)."},"pickup":{"$ref":"#/components/schemas/Location"},"dropoff":{"$ref":"#/components/schemas/Location"},"flags":{"uniqueItems":true,"type":"array","description":"A set of flags describing certain attributes of the delivery that may impact dispatch handling.","items":{"type":"string","enum":["ALCOHOL","LARGE_ORDER","UNKNOWN"]}},"contents":{"type":"array","description":"A list of items that are being delivered.","items":{"$ref":"#/components/schemas/DeliveryItem"}},"status":{"type":"string","description":"The current status of the delivery."},"courier":{"$ref":"#/components/schemas/Courier"},"created":{"type":"string","description":"Date and time the delivery was created.","format":"date-time"},"pickup_ready":{"type":"string","description":"When the order was marked as ready to be picked up. Will be absent if null.","format":"date-time"},"times":{"$ref":"#/components/schemas/DeliveryTimes"},"committed_times":{"$ref":"#/components/schemas/DeliveryTimes"},"test":{"type":"boolean","description":"Test."},"preferences":{"$ref":"#/components/schemas/DeliveryPreferences"},"metadata":{"type":"object","additionalProperties":{"type":"string","description":"String map of client-supplied metadata for the delivery. Both internal Grubhub systems and partner systems may provide metadata, so it is advised to implement a namespacing convention for partner-supplied keys."},"description":"String map of client-supplied metadata for the delivery. Both internal Grubhub systems and partner systems may provide metadata, so it is advised to implement a namespacing convention for partner-supplied keys."},"setup_instructions":{"type":"string","description":"Not currently supported through DaaS. Special instructions to the courier for delivery setup. Absent if null."},"alternate_name":{"type":"string","description":"An optional alternate contact name."}},"description":"A delivery that has been created as the result of a delivery request."}}}}