{"openapi":"3.1.0","info":{"title":"Reporting Webhooks"},"servers":[{"url":"https://api-third-party-gtm-pp.grubhub.com","description":"preprod"},{"url":"https://api-third-party-gtm.grubhub.com","description":"prod"}],"tags":[{"name":"Models","description":"# MerchantReportStatusWebhook \n <SchemaDefinition schemaRef=\"#/components/schemas/MerchantReportStatusWebhook\"/>\n\n"}],"paths":{},"components":{"schemas":{"MerchantReportStatusWebhook":{"type":"object","description":"Webhook for reporting status updates.","properties":{"report_uuid":{"type":"string","format":"uuid","description":"A unique identifier for the report.","example":"f47ac10b-58cc-4372-a567-0e02b2c3d479"},"download_report_request_url":{"type":"string","description":"URL to download the report. Make a GET request to this URL to get the s3 download link. This field is empty for NO_DATA or ERROR status.","example":"https://api-gtm.grubhub.com/merchant/reporting/v1/reports/f47ac10b-58cc-4372-a567-0e02b2c3d479"},"report_status":{"type":"string","description":"Status of the report. Possible values are COMPLETE, ERROR, or NO_DATA.","example":"COMPLETE"},"message":{"type":"string","description":"Message providing additional information about the report status. This field is empty for COMPLETE status."}},"required":["download_report_request_url","message","report_status","report_uuid"],"title":"Merchant Report Status Webhook"}}},"webhooks":{"[Egress] Report Status Update Webhook":{"post":{"tags":["Webhooks"],"summary":"Report status update","requestBody":{"description":"Information about a requested report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchantReportStatusWebhook","description":"Report Status Update"}}}},"responses":{}}}}}